In [1]:
import numpy as np
import pandas as pd
from time import time
from numpy import save, load
from datetime import datetime

In [2]:
data = pd.read_csv('ratings.csv')

In [3]:
data

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [4]:
min_timestamp = min(data['timestamp'])
max_timestamp = max(data['timestamp'])

timestamp = datetime.fromtimestamp(min_timestamp)
print(timestamp.strftime('%Y-%m-%d %H:%M:%S'))

timestamp = datetime.fromtimestamp(max_timestamp)
print(timestamp.strftime('%Y-%m-%d %H:%M:%S'))

1995-01-09 20:46:49
2019-11-21 18:15:03